# Splitting Dataset Into Train and Test Datasets for Machine Learning Model

In [1]:
import seaborn as sb
from sklearn.model_selection import train_test_split

In [2]:
sb.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
tips=sb.load_dataset('tips')

In [4]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

#### Splitting 20 Percent of Data for Testing and Remaining for Training

In [5]:
train,test=train_test_split(tips, test_size=0.2)

In [6]:
train

     total_bill   tip     sex smoker   day    time  size
175       32.90  3.11    Male    Yes   Sun  Dinner     2
223       15.98  3.00  Female     No   Fri   Lunch     3
129       22.82  2.18    Male     No  Thur   Lunch     3
82        10.07  1.83  Female     No  Thur   Lunch     1
132       11.17  1.50  Female     No  Thur   Lunch     2
..          ...   ...     ...    ...   ...     ...   ...
234       15.53  3.00    Male    Yes   Sat  Dinner     2
56        38.01  3.00    Male    Yes   Sat  Dinner     4
201       12.74  2.01  Female    Yes  Thur   Lunch     2
32        15.06  3.00  Female     No   Sat  Dinner     2
134       18.26  3.25  Female     No  Thur   Lunch     2

[195 rows x 7 columns]

In [7]:
test

     total_bill   tip     sex smoker   day    time  size
67         3.07  1.00  Female    Yes   Sat  Dinner     1
93        16.32  4.30  Female    Yes   Fri  Dinner     2
59        48.27  6.73    Male     No   Sat  Dinner     4
44        30.40  5.60    Male     No   Sun  Dinner     4
238       35.83  4.67  Female     No   Sat  Dinner     3
112       38.07  4.00    Male     No   Sun  Dinner     3
205       16.47  3.23  Female    Yes  Thur   Lunch     3
104       20.92  4.08  Female     No   Sat  Dinner     2
122       14.26  2.50    Male     No  Thur   Lunch     2
27        12.69  2.00    Male     No   Sat  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
25        17.81  2.34    Male     No   Sat  Dinner     4
125       29.80  4.20  Female     No  Thur   Lunch     6
89        21.16  3.00    Male     No  Thur   Lunch     2
138       16.00  2.00    Male    Yes  Thur   Lunch     2
197       43.11  5.00  Female    Yes  Thur   Lunch     4
128       11.38  2.00  Female     No  Thur   Lunch     2
21        20.29  2.75  Female     No   Sat  Dinner     2
159       16.49  2.00    Male     No   Sun  Dinner     4
74        14.73  2.20  Female     No   Sat  Dinner     2
18        16.97  3.50  Female     No   Sun  Dinner     3
101       15.38  3.00  Female    Yes   Fri  Dinner     2
213       13.27  2.50  Female    Yes   Sat  Dinner     2
35        24.06  3.60    Male     No   Sat  Dinner     3
99        12.46  1.50    Male     No   Fri  Dinner     2
171       15.81  3.16    Male    Yes   Sat  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
79        17.29  2.71    Male     No  Thur   Lunch     2
139       13.16  2.75  Female     No  Thur   Lunch     2
166       20.76  2.24    Male     No   Sun  Dinner     2
39        31.27  5.00    Male     No   Sat  Dinner     3
113       23.95  2.55    Male     No   Sun  Dinner     2
97        12.03  1.50    Male    Yes   Fri  Dinner     2
87        18.28  4.00    Male     No  Thur   Lunch     2
228       13.28  2.72    Male     No   Sat  Dinner     2
95        40.17  4.73    Male    Yes   Fri  Dinner     4
94        22.75  3.25  Female     No   Fri  Dinner     2
100       11.35  2.50  Female    Yes   Fri  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
57        26.41  1.50  Female     No   Sat  Dinner     2
106       20.49  4.06    Male    Yes   Sat  Dinner     2
127       14.52  2.00  Female     No  Thur   Lunch     2
224       13.42  1.58    Male    Yes   Fri   Lunch     2
76        17.92  3.08    Male    Yes   Sat  Dinner     2
169       10.63  2.00  Female    Yes   Sat  Dinner     2
194       16.58  4.00    Male    Yes  Thur   Lunch     2
46        22.23  5.00    Male     No   Sun  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2

#### Cross Checking The Percentages Of Data Split from Total Records Before

In [13]:
# 80 Percent for Training - 195 Records placed in Train Dataset
244*0.8

195.20000000000002

In [15]:
train.shape

(195, 7)

In [14]:
# 20 Percent for Testing - 48-49 Records placed in Test Dataset
244*0.2

48.800000000000004

In [10]:
test.shape

(49, 7)